html {
	font-size: 125%;
	scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}

header,
fieldset {
  padding-top: 10%;
}

h1{
  font-family: $font-secondary;
} 

img {
	display: block;
	width: 100%;
	min-width: 100%;
}

.container__question--diet,
.container--display-result {
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.background-l-brown {
  background-color: $l-brown;
}

.background-green {
  background-color: $green;
}

// BUTTONS

.btn {
  background-color: $pink;
  padding: 1rem;
  border: none;
}