// HEADER
header {
  text-align: center;
  position: relative;
  overflow: hidden;
  .txt-strong {
    margin-bottom: 0;
    & + p {
      margin-top: 0;
      margin-bottom: .5rem;
    }
  }
  &::after {
    content: '';
    display: block;
    @include bg-img ('bird.svg');
    @include position (absolute, rem-calc(-115px), rem-calc(-150px), null, null);
    height: rem-calc(300px);
    width: rem-calc(400px);
    z-index: -10;  
  } 
}

h1{
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-family: $font-secondary;
  text-transform: capitalize;
  font-size: rem-calc(35px);
  @include text-shadow (rem-calc(2px), rem-calc(2px), $pink);
}

// QUESTIONS
h2 {
  font-family: $font-secondary;
  font-size: rem-calc(48px);
  text-transform: capitalize;
  @include text-shadow (rem-calc(2px), rem-calc(2px), $pink);
  margin: 0;
}

.q-num {
  font-family: $font-secondary;
  font-size: 100px;
  margin-top: rem-calc(-35px);
}

label {
  padding-bottom: .5rem;
}

.legend {
  font-weight: 700;
  padding-bottom: 1rem;
}

.img-result {
  position: relative;
  &::after {
    @include position (absolute, rem-calc(2px), null, null, rem-calc(2px));
    z-index: -10;
    fill: $pink;
  }
  .img-result-bear {
    &::after {
      @include bg-img ('bear.svg');
      width: rem-calc(490px);
      height: rem-calc(327px);
    }
  }
  .img-result-rabbit {
    &::after {
      @include bg-img ('rabbit.svg');
      width: rem-calc(471px);
      height: rem-calc(341px);
    }
  }
}

//SUBMIT
.container-submit {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    @include bg-img ('acorn.svg');
    @include position (absolute, rem-calc(-60px), null, null, rem-calc(-80px));
    height: rem-calc(200px);
    width: rem-calc(605px); 
  }
}

// RESULT
.container-display-result p:first-of-type {
  margin-bottom: 0;
}

//RESET
.container-reset-quiz {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    @include bg-img ('mushroom.svg');
    @include position (absolute, rem-calc(-60px), null, null, rem-calc(-80px));
    height: rem-calc(200px);
    width: rem-calc(605px); 
  }
}

// FOOTER
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  p {
    margin: 0;
    text-align: center;
    font-size: rem-calc(18px);
  }
}