html {
	font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  background-color: $beige;
  font-size: rem-calc(22px);
}

header,
.container {
  height: 100%;
  min-height: 100vh;
}

header {
  text-align: center;
}

.container.container-display-result,
.container-reset-quiz {
  display: none;
}

h1{
  font-family: $font-secondary;
  text-transform: capitalize;
  font-size: rem-calc(35px);
} 

img {
	display: block;
	width: 100%;
	min-width: 100%;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.label {
  font-weight: 700;
  padding-bottom: 1rem;
}

p {
  margin-top: 0;
}

label {
  padding-bottom: .5rem;
}

.bg-green {
  background-color: $green;
  color: $beige;
}

.bg-pink {
  background-color: $pink;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  p {
    margin-bottom: 0;
    text-align: center;
    font-size: rem-calc(18px);
  }
}