// LINKS
a {
  text-decoration: none;
  font-weight: 700;
  color: $black;
  transition: border-bottom .2s;
  &:hover {
    border-bottom: 2px solid $green;
  }
}

// BUTTONS
.btn {
  margin: 1rem 0;
  background-color: $orange;
  padding: 1rem 1.5rem;
  border: none;
  color: $black;
  font-size: rem-calc(30px);
  font-weight: 700;
  width: 100%;
  max-width: rem-calc(320px);
  transition-duration: .2s;
  transition-property: background-color, color, transform;
  &:active,
  &:focus {
    transform: translateY(rem-calc(5px));
  }
}

.btn-dark {
  &:hover {
    background-color: $green;
    color: $beige;
  }
}

.btn-light {
  &:hover {
    background-color: $pink;
    color: $black;
  }
}

// SCROLL DOWN ARROW
.fa-chevron-down {
  color: $orange;
  padding: .5rem;
  margin-top: -1rem;
  cursor: pointer;
  transition-duration: .2s;
  transition-property: background-color, color, transform;
  &:hover {
    color: $green;
  }
  &:active,
  &:focus {
    color: $green;
    transform: translateY(rem-calc(5px));
  }
}

//RADIOS
// Hide radios so that still on page for accessibilty. Add border to be able to add width/height properties to increase area for cursor to change to pointer
input[type='radio'] {
  opacity: 0;
  position: absolute;
  border: 0px;
  width: 1.5rem;
  height: 1.5rem;
}

input[type="radio"] {
  cursor: pointer;
  & ~ label::before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    content: "\f111";
    margin-right: .4rem;
  }
  &:checked ~ label::before {
    content: "\f00c";
    //must add font-weight:900 for icon to work
    font-weight: 900;
  }
}
