// LINKS
a {
  text-decoration: none;
  font-weight: 700;
  color: $black;
  transition: bborder-bottom .2s;
  & :hover {
    border-bottom: 2px solid $green;
  }
}

// BUTTONS
.btn {
  margin: 1rem 0;
  background-color: $orange;
  padding: 1rem 1.5rem;
  border: none;
  color: $black;
  font-size: rem-calc(30px);
  font-weight: 700;
  width: 100%;
  transition-duration: .2s;
  transition-property: background-color, color, transform;
  & :active,
  & :focus {
    transform: translateY(rem-calc(5px));
  }
}

.btn-dark {
  & :hover {
    background-color: $green;
    color: $beige;
  }
}

.btn-light {
  & :hover {
    background-color: $pink;
    color: $black;
  }
}